body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-family: aktiv-grotesk, Arial, Helvetica, sans-serif;
  line-height: 20px;
}

a {
  background-color: transparent;
  border: 0px;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  color: #ccc;
  border-radius: 30px;
}

.navbar {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar .logo-img {
  width: 184px;
}

.login-menu {
  display: flex;
  gap: 5px;
}
.login-button {
  cursor: pointer;
}

.home-image {
  width: 100%;
}

.account {
  display: flex;
  flex-direction: column;
  background-color: grey;
  width: 70px;
  height: 70px;
  color: white;
}

.reactSingularKey_hftMain {
  background: white;
  box-shadow: 0px 0px 3px black;
  border: 0px;
  padding: 100px;
}

.reactSingularKey_hftNextButton {
  color: black;
  background: #ff9718;
  border: 0px;
  margin: 5px;
}

.reactSingularKey_hftNextButton:hover {
  background: #ffb050 !important;
  border: 1px !important;
}

.reactSingularKey_hftPoweredByText {
  color: transparent;
}

.reactSingularKey_messageScreenIcon {
  visibility: hidden;
}

.reactSingularKey_hftFooter {
  margin-top: 20px;
}

.reactSingularKey_hftInputFieldContainer styles_hftInputFieldContainer__3N4hv {
  border-color: red !important;
  background-color: red !important;
}

.forgotPassword {
  background-color: transparent;
  border: 0px;
  color: white;
}

.forgotPassword:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wait {
  text-align: center;
}

.css-1q2ub47 {
  background-color: white !important;
}

.css-3qyv83 {
  background-color: white !important;
}

.css-1tm6szk {
  background-color: white !important;
}
